body {
    font-family: "Darumadrop One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
}

header {
    text-align: center;
    color: #328E6E;
    margin-bottom: 10px;
}

.logo {
    text-decoration: none;
}

header h1 {
    font-size: 1.6rem;
    font-weight: bold;
    display: inline-block;
}

header img {
    max-width: 150px;
    display: inline-block;
    vertical-align: middle;
}

form {
    padding: 10px 0;
    font-size: 1rem;
    margin-top: 20px;

    .button {
        background-color: #90C67C;
        border-radius: 3px;
        color: black;
    }

    input {
        font-family: "Darumadrop one", sans-serif;
    }
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-box {
    background-color: #90C67C;
    border-radius: 10px;
    border: 2px #328E6E solid;
    padding: 10px;
    
    margin: auto;
}

.blurb {
    margin-top: 10px;
}

img {
    max-width: 100%;
    max-height: 750px;
}

p {
    margin: auto 10px;
    text-align: center;
}

footer {
    background-color: #90C67C;
    border: 2px #328E6E solid;
    margin: 50px -10px -10px -10px;
    font-size: 1rem;
}

footer ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

footer li {
    text-decoration: none;
    display: inline;
    justify-content: space-between;
}

footer .notices {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 20px;
    margin: 0 10%;
}


.shop-link {
    margin-top: 10px;
}

.mb10 {
    margin-bottom: 10px;
}

/* widescreen browser */
@media (min-width: 600px) {
    .main-content {
        margin: 0 10%;
    }

    .content-box {
        flex-shrink: 0;
    }

    header h1 {
        font-size: 3rem;
    }

    .ml10-md {
        margin-left: 10px;
    }

    .blurb {
        flex: 4 4;
    }
}

/* narrow browser window */
@media (max-width: 1700px) {
    .flex-wrap-sm {
        display: flex;
        flex-wrap: wrap;
    }

    .mb10-sm {
        margin-bottom: 10px;
    }
}

/* phone screen size */
@media (max-width: 600px) {
    .content-box {
        margin-bottom: 20px;
    }

    .mx15p-sm {
        margin-left: 15%;
        margin-right: 15%
    }

    .hide-sm {
        display: none;
    }
}

.text-center {
    text-align: center;
}

img.border {
    border: 2px #328E6E solid;
    border-radius: 5px;
}